# for clang-format 18 (should work with 17 minus SkipMacroDefinitionBody)
---
Language: Cpp
BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled:         true
  AlignCompound:   true
AlignConsecutiveBitFields:
  Enabled:         true
AlignConsecutiveDeclarations:
  Enabled:         true
  PadOperators:    true
AlignConsecutiveShortCaseStatements:
  Enabled:         true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
AttributeMacros:
  - __capability
  # TODO: - Qt macros (Q_INVOCABLE, ...)
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     120
EmptyLineAfterAccessModifier: Never
# IncludeCategories: # TODO: define categories for Qt, open62541(pp) and our stuff? Needs IncludeBlocks: Regroup
#   - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
#     Priority:        2
#     SortPriority:    0
#     CaseSensitive:   false
#   - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
#     Priority:        3
#     SortPriority:    0
#     CaseSensitive:   false
#   - Regex:           '.*'
#     Priority:        1
#     SortPriority:    0
#     CaseSensitive:   false
IndentCaseLabels: true
IndentWidth:     4
InsertBraces:    false # required by clang-tidy but disabled due to correctness warning in docs.
InsertNewlineAtEOF: true
LineEnding:      LF
NamespaceIndentation: All
PointerAlignment: Left
RemoveParentheses: Leave # Should be enabled, left disabled due to correctness warning in docs
RemoveSemicolon: false # Should be enabled, left disabled due to correctness warning in docs
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SkipMacroDefinitionBody: false # clang-format 18
# TODO: remove when IncludeCategories used
SortIncludes: CaseInsensitive
SpaceAfterTemplateKeyword: false
Standard:        c++20
StatementAttributeLikeMacros:
  - Q_EMIT
  - emit
# List from qtcreators default .clang-format file
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
  - Q_CLASSINFO
  - Q_ENUM
  - Q_ENUM_NS
  - Q_FLAG
  - Q_FLAG_NS
  - Q_GADGET
  - Q_GADGET_EXPORT
  - Q_INTERFACES
  - Q_MOC_INCLUDE
  - Q_NAMESPACE
  - Q_NAMESPACE_EXPORT
  - Q_OBJECT
  - Q_PROPERTY
  - Q_REVISION
  - Q_DISABLE_COPY
  - Q_SET_OBJECT_NAME
  - QT_BEGIN_NAMESPACE
  - QT_END_NAMESPACE
  - QML_ADDED_IN_MINOR_VERSION
  - QML_ANONYMOUS
  - QML_ATTACHED
  - QML_DECLARE_TYPE
  - QML_DECLARE_TYPEINFO
  - QML_ELEMENT
  - QML_EXTENDED
  - QML_EXTENDED_NAMESPACE
  - QML_EXTRA_VERSION
  - QML_FOREIGN
  - QML_FOREIGN_NAMESPACE
  - QML_IMPLEMENTS_INTERFACES
  - QML_INTERFACE
  - QML_NAMED_ELEMENT
  - QML_REMOVED_IN_MINOR_VERSION
  - QML_SINGLETON
  - QML_UNAVAILABLE
  - QML_UNCREATABLE
  - QML_VALUE_TYPE
...
